*_data
*_output
*_dataset
*_rpn_results
.vscode
.ipynb_checkpoints
FRONT3D_render 
output
supmat_resources
rpn_results
vis_finalist
ffmpeg
.DS_Store
*.pptx
*.png
*rpn_results
.zip
.DS_Store
scripts/__pycache__
